{% extends "registration/base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-2">


    </div>

    <div class="col-md-4 phone-section">
      <div class="phones">
        <img class="screen-image" src="https://www.instagram.com/static/images/homepage/screenshot1.jpg/d6bf0c928b5a.jpg" alt="">

      </div>


    </div>



    <div class="col-md-4 form-section">

      {% if form.errors %}
        <p>Password or Username is incorrect</p>
      {% endif %}

      <div class="panel panel-default">

        <div class="panel-body">
          <div class="logo-header">
            <img alt="Brand" src="{% static 'img/brand.png' %}" height=70 >
          </div>
          <div class="text-center">
          <form action="/accounts/login/" method="post">

            {% csrf_token%}
            {% bootstrap_form form %}

            <div class="form-group">
              <input type="submit" class="btn btn-primary login-button" value="Log in">
              <!-- <a class="btn btn-danger" href="/accounts/register">Sign Up</a> -->

            </div>
            <input type="hidden" name="next" value="{{next}}">

          </form>
        </div>
        </div>

      </div>

      <div class="panel panel-default">
        <div class="panel-body text-center">
          <p> Don't have  an account? <span><a class="" href="/accounts/register">Sign Up</a></span></p>

        </div>
      </div>

      <div class="row app-downloads text-center">
        <div class='col-md-12'>
          <h5>Get the App</h5>
        </div>
        <div class="col-md-6 col-lg-6 app-store">
          <a href="https://itunes.apple.com/app/instagram/id389801252?mt=8&vt=lo">
          <img class="Rt8TI" alt="Available on the App Store" src="https://www.instagram.com/static/images/appstore-install-badges/badge_ios_english-en.png/180ae7a0bcf7.png"height=40>
        </a>
        </div>
        <div class="col-md-6 col-lg-6 play-store">
          <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26ig_mid%3DW7TC9gAEAAGv8_i1DKFn6cdx04Jl%26utm_content%3Dlo%26utm_medium%3Dbadge">
          <img class="Rt8TI" alt="Available on Google Play" src="https://www.instagram.com/static/images/appstore-install-badges/badge_android_english-en.png/e9cd846dc748.png" height=40>
        </a>
        </div>
      </div>
    </div>
    <!-- Empty div -->
    <div class="col-md-2"></div>
  </div>
<div class="text-center">
  <div class="footer">
    <a class="footer-links" href="https://www.instagram.com/about/us/">ABOUT US</a>
    <a class="footer-links" href="https://help.instagram.com/">SUPPORT</a>
    <a class="footer-links" href="https://instagram-press.com/">PRESS</a>
    <a class="footer-links" href="https://www.instagram.com/developer/">API</a>
    <a class="footer-links" href="https://www.instagram.com/about/jobs/">JOBS</a>
    <a class="footer-links" href="https://help.instagram.com/519522125107875">PRIVACY</a>
    <a class="footer-links" href="https://help.instagram.com/581066165581870">TERMS</a>
    <a class="footer-links" href="https://www.instagram.com/explore/locations/">DIRECTORY</a>
    <a class="footer-links" href="https://www.instagram.com/directory/profiles/">PROFILES</a>
    <a class="footer-links" href="https://www.instagram.com/directory/hashtags/">HASHTAGS</a>
    <p class="copyright">© 2018 INSTAGRAM</p>

  </div>
</div>
</div>

{% endblock %}
