{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}

{% block content %}
{{block.super}}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/profile.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<div class="container">

</div>
<!-- End of container -->

</header>

<main>

<div class="container">

  <div class="gallery">

    {% for post in posts %}

    <div class="gallery-item" tabindex="0" data-toggle="modal" data-target="#{{post.id}}">


      <img src="{{post.post.url}}?w=500&h=500&fit=crop" class="gallery-image">
      <div class="gallery-item-info">

        <ul>
          <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i>{{post.likes}}</li>
          <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i>2</li>
    </div>

  </div>

  <!-- Modal -->
  <!-- Modal -->
  <div class="modal fade" id="{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <div class="custom-card-header">
          <div class="modal-profile-image">
            <img src="{{post.profile_pic.url}}?w=50&h=50&fit=crop" class="gallery-image" alt=""  width=8 height=8>
          </div>
              <p class="username">{{post.username}}</p>
              <footer class="location">{{post.location}}</footer>
          </div>

        </div>
        <div class="modal-body">
              <img src="{{post.post.url}}?w=800&h=1000&fit=crop" class="gallery-image like" id="likes-{{forloop.counter0}}" data-comid="{{post.id}}">
        </div>
        <div class="modal-footer">
          <p class="card-title username like"  id="likes-{{forloop.counter0}}" data-comid="{{post.id}}" >{{post.likes}} likes</p>
          <p class="username">{{post.username}} <span class="caption">{{post.caption|truncatechars:300 |safe }}</span></p>


        <div id="card{{post.id}}" class="mt-2">
               {%for comment in comments%}
                   {%if comment.post == post.id%}
                   <p>
                       <strong>{{comment.username.username}}</strong> {{comment.comment}}
                   </p>
                   {%endif%}
               {%endfor%}
        </div>
      </div>
        <div class="modal-footer">

        <div class="text-center">
          <form method="post" enctype="multipart/form-data" id='comment{{post.id}}' class="commentformsize">
            {% csrf_token %}
            {% bootstrap_form form%}
          </form>
        </div>
      </div>


      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
         <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script type="text/javascript">
    $('#comment{{post.id}}').submit(function(event) {
        comment = $(this).find('#id_comment').val();
        post = {{post.id}};
        $.ajax({
            url: '/comment/',
            data: {
              'comment': comment,
              'post': post
            },
            dataType: 'json',
            success: function (data) {
                $('#card{{image.id}}').append(
                    `<p> <strong>${data.recent_comment_username}</strong> ${data.recent_comment}</p>`
                );
                $('#comment{{post.id}}')[0].reset();
            }
          });
          event.preventDefault()
     });
  </script>

  {%endfor%}



			<div class="gallery-item" tabindex="0">

				<img src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop" class="gallery-image" alt="">

				<div class="gallery-item-type">

					<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

				</div>

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> 47</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> 1</li>
					</ul>

				</div>

			</div>
    </div>
  <!-- End of gallery -->

  <!-- <div class="loader"></div> -->

</div>
<!-- End of container -->












{% endblock %}
