{% extends 'base.html' %}

{% block content %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/profile.css">
  <link rel="stylesheet" href="../static/css/base.css">

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

</head>


<div class="container">
  <div class="row">
    {% if users %}
    <h2> Found {{users|length}} users with the search term "{{message}}"</h2>
    {% else %}
    <h2> Found 0 users for the search term "{{message}}"</h2>
    {% endif %}
  </div>

  {% if users %}
  <div class="gallery">
    {% for user in users %}
      <div class="gallery-item" tabindex="0" data-toggle="modal" data-target="#{{post.id}}">
        <div class="profile-image">
          <img src="{{user.profile_pic.url}}" class=" img img-responsive" ><br>

        </div>

  </div>
  <h1 class="search-username">{{user.username}}</h1>



    {% endfor %}
  </div>
    {%endif %}
</div>

{% endblock %}
