{% extends 'base.html' %}
{% block content %}


{{block.super}}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/profile.css">
  <link rel="stylesheet" href="../static/css/timeline.css">
  <link rel="stylesheet" href="../static/css/navbar.css">
</head>



<div class="container">
<!-- <div class="row"> -->



{% for post in posts %}
<div class="gallery-item">

<div class="card" style="width: 75rem;">
  <div class="custom-card-header">
  <div class="modal-image">
    <img src="{{post.profile_pic.url}}?w=50&h=50&fit=crop" class="gallery-image" alt=""  width=8 height=8>
  </div>
      <p class="username">{{post.username}}</p>
      <footer class="location">{{post.location}}</footer>
  </div>

      <img src="{{post.post.url}}?w=800&h=1000&fit=crop" class="gallery-image">
  <div class="card-body">
    <div class="card-footer-section">
    <h5 class="card-title username">{{post.likes}} likes</h5>
    <p class="card-text username">{{post.username}} <span class="caption"> {{post.caption |truncatechars:20}}</span></p>
    <br>
  </div>
  </div>
</div>
</div>
{% endfor %}

<!-- </div> -->
</div>
{% endblock %}
