/* .nav-search{
  margin-left: auto;
  margin-right: auto;
} */

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}
.modal {
  top:20%;
  right:50px;
  outline: none;
}
.settings-modal{
  margin: auto;
  margin-top:30%;
  width:50%;
}
.modal-footer{
  text-align: left;
}
/* .modal-content{
  position: fixed;
  width:120%;
  right:90px;
} */
.username{
  font-weight: bold;
  margin-bottom: -2px;

}
.search-username{
  color:black;
}
.location{
  font-weight: 20;
}
.custom-card-header{
  margin-top: 4px;
  margin-bottom: 4px;
}
.caption{
  font-weight: normal;
}
